/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/
.finest-contact-form input[type="text"],
.finest-contact-form input[type="email"],
.finest-contact-form input[type="url"],
.finest-contact-form input[type="tel"],
.finest-contact-form input[type="date"],
.finest-contact-form input[type="number"],
.finest-contact-form textarea {
    background: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
    float: none;
    height: auto;
    margin: 0;
    outline: 0;
    width: auto;
}

.finest-contact-form input[type="submit"] {
    border: 0;
    float: none;
    height: auto;
    margin: 0;
    padding: 10px 20px;
    width: auto;
}

.finest-contact-form input[type="submit"],
.finest-contact-form input[type="button"] {
    transition: all 0.25s linear 0s;
}

.finest-contact-form.placeholder-hide input::-webkit-input-placeholder,
.finest-contact-form.placeholder-hide textarea::-webkit-input-placeholder {
    opacity: 0;
    visibility: hidden;
}

.finest-contact-form.placeholder-hide input::-moz-placeholder,
.finest-contact-form.placeholder-hide textarea::-moz-placeholder {
    opacity: 0;
    visibility: hidden;
}

.finest-contact-form.placeholder-hide input:-ms-input-placeholder,
.finest-contact-form.placeholder-hide textarea:-ms-input-placeholder {
    opacity: 0;
    visibility: hidden;
}

.finest-contact-form.placeholder-hide input:-moz-placeholder,
.finest-contact-form.placeholder-hide textarea:-moz-placeholder {
    opacity: 0;
    visibility: hidden;
}

.finest-wpforms .wpforms-container .wpforms-form input[type="submit"],
.finest-wpforms .wpforms-container .wpforms-form button[type="submit"],
.finest-wpforms .wpforms-container .wpforms-form .wpforms-page-button {
    border: 0;
}

.finest-wpforms .wpforms-container .wpforms-form input[type="submit"]:hover,
.finest-wpforms .wpforms-container .wpforms-form button[type="submit"]:hover,
.finest-wpforms .wpforms-container .wpforms-form .wpforms-page-button:hover {
    border: 0;
}

.finest-wpforms .wpforms-container .wpforms-form input[type="checkbox"],
.finest-wpforms .wpforms-container .wpforms-form input[type="radio"] {
    padding: 3px;
}

.finest-wpforms .wpforms-container .wpforms-form .wpforms-field-label {
    display: none;
}

.finest-wpforms .wpforms-container .wpforms-form .wpforms-field-name .wpforms-field-row {
    max-width: 100%;
}

.finest-wpforms .wpforms-container .wpforms-field input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.finest-wpforms .wpforms-container .wpforms-field textarea,
.finest-wpforms .wpforms-container .wpforms-field select {
    max-width: 100% !important;
}

.finest-wpforms-labels-yes .wpforms-container .wpforms-form .wpforms-field-label {
    display: block;
}

.finest-wpforms-form-button-full-width .wpforms-submit-container .wpforms-submit {
    width: 100%;
}

.finest-custom-radio-checkbox input[type="checkbox"],
.finest-custom-radio-checkbox input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-style: solid;
    border-width: 0;
    outline: none;
    min-width: 1px;
    width: 15px;
    height: 15px;
    background: #ddd;
    padding: 3px;
}

.finest-custom-radio-checkbox input[type="checkbox"]:before,
.finest-custom-radio-checkbox input[type="radio"]:before {
    content: "";
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: block;
}

.finest-custom-radio-checkbox input[type="checkbox"]:checked:before,
.finest-custom-radio-checkbox input[type="radio"]:checked:before {
    background: #999;
    transition: all 0.25s linear 0s;
}

.finest-custom-radio-checkbox input[type="radio"] {
    border-radius: 50%;
}

.finest-custom-radio-checkbox input[type="radio"]:before {
    border-radius: 50%;
}

/* blog */
.contetn-meta ul {
    margin: 0px;
    padding: 0px;
}
.contetn-meta ul li {
    list-style: none;
    display: inline-block;
}
.contetn-meta ul li a {
    display: inline-block;
    color: black;
}


/* count down */
.finest-addons-countdown .finest-addons-countdown__count {
    font-size: 120px;
    letter-spacing: -3.96px;
    font-weight: 700;
    color: var(--heading-color);
    line-height: 1.3;
}

.finest-addons-countdown li {
    text-align: center;
    display: inline-block;
}

.finest-addons-countdown .text {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: var(--heading-color);
    font-weight: 700;
}

ul.finest-addons-countdown {
    margin: 0;
    padding: 0;
    list-style: none;
}

.finest-addons-countdown-item.show-no {
    display: none;
}

li.finest-addons-countdown-item.count-down-block .text {
    display: block;
}

li.finest-addons-countdown-item.count-down-inline .text {
    display: inline-block;
}

.finest-addons-countdown-wrapper .divider {
    position: relative;
}