/*--------------------------------------------------------------============================================================
/*==============================
[Table of contents]

WIDGET STYLESHEET

1.HEADDING
2.DUAL HEADDING
3.ANIMATED TEXT
4.DUAL BUTTON
5.MODAL POPUP
6.PRICING BOX
7.CALL TO ACTION
8.TESTIMONIAL




---------------------------------- */


/*---------------------------------------------------
HEADDING
----------------------------------------------------*/

.finest-addons-title.show-line-yes:after {
    content: "";
    width: 100%;
    background-color: #fee444;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    z-index: -1;
}

.finest-addons-title.show-line-yes {
    position: relative;
    display: inline-block;
    z-index: 1;
}


/*---------------------------------------------------
DUAL HEADDING
----------------------------------------------------*/

.finest-addons-dual-heading .finest-addons-dual-heading-wrapper {
    padding: 5px;
}

.finest-addons-dual-heading .finest-addons-dual-heading-wrapper .finest-addons-dual-heading-description {
    line-height: 26px;
    margin: 30px 0 0 0;
    padding: 10px;
    font-weight: 400;
}

.finest-addons-dual-heading .finest-addons-dual-heading-wrapper .finest-addons-dual-heading-icon {
    display: inline-block;
}

.finest-addons-dual-heading .finest-addons-dual-heading-wrapper .finest-addons-dual-heading-icon i {
    font-size: 36px;
}

.finest-addons-dual-heading .finest-addons-dual-heading-wrapper .finest-addons-dual-heading-title {
    font-size: 36px;
    margin-top: 10px;
}

.finest-addons-dual-heading .finest-addons-dual-heading-wrapper .finest-addons-dual-heading-title {
    font-size: 30px;
    color: #132c47;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.finest-addons-dual-heading .finest-addons-dual-heading-wrapper .finest-addons-dual-heading-title .first-heading,
.finest-addons-dual-heading .finest-addons-dual-heading-wrapper .finest-addons-dual-heading-title .second-heading {
    padding: 15px 10px;
}

.finest-addons-dual-heading .finest-addons-dual-heading-wrapper .finest-addons-dual-heading-title span {
    color: #132c47;
}
.finest-dual-button-primary, .finest-dual-button-secondary {
  font-weight: 700;
}

/*---------------------------------------------------
ANIMATED TEXT
----------------------------------------------------*/
.morphext > .animated {
    display: inline-block;
  }
  /* morphext style end*/

  .finest-animated-text-align-left{
    text-align: left;
  }

  .finest-animated-text-align-center{
    text-align: center;
  }

  .finest-animated-text-align-right{
    text-align: right;
  }

  .finest-typed-strings{
    margin: 0;
  }

  .finest-animated-text-pre-heading,
  .finest-animated-text-animated-heading,
  .finest-animated-text-post-heading {
      font-size: 30px;
      font-weight: 600;
  }

/*---------------------------------------------------
DUAL BUTTON
----------------------------------------------------*/
.finest-dual-button{
    display: table;
}
.finest-dual-button.finest-dual-button-align-left{
    margin-right: auto;
}
.finest-dual-button.finest-dual-button-align-center{
    margin-left: auto;
    margin-right: auto;
}
.finest-dual-button.finest-dual-button-align-right{
    margin-left: auto;
}
.finest-dual-button-action{
    display: inline-block;
    text-decoration: none;
}
.finest-dual-button-primary {
    position: relative;
}
.finest-dual-button-connector{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    z-index: 10;
}
.finest-dual-button-connector span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
/* effect 1 style */
.finest-dual-button-primary.effect-1, .finest-dual-button-secondary.effect-1,
.finest-dual-button-primary.effect-2, .finest-dual-button-secondary.effect-2,
.finest-dual-button-primary.effect-3, .finest-dual-button-secondary.effect-3,
.finest-dual-button-primary.effect-4, .finest-dual-button-secondary.effect-4,
.finest-dual-button-primary.effect-6, .finest-dual-button-secondary.effect-6 {
    position: relative;
    transition: all .3s ease;
}

.finest-dual-button-primary.effect-1::before, .finest-dual-button-secondary.effect-1::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.finest-dual-button-primary.effect-1:hover, .finest-dual-button-secondary.effect-1:hover {
    z-index: 1;
}

.finest-dual-button-primary.effect-1:hover::before, .finest-dual-button-secondary.effect-1:hover::before {
    width: 100%;
    z-index: -1;
}

/* effect 2 style */
.finest-dual-button-primary.effect-2::before, .finest-dual-button-secondary.effect-2::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform-origin: center center;
            transform-origin: center center;
}

.finest-dual-button-primary.effect-2:hover, .finest-dual-button-secondary.effect-2:hover {
    z-index: 1;
}

.finest-dual-button-primary.effect-2:hover::before, .finest-dual-button-secondary.effect-2:hover::before {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    z-index: -1;
}

/* effect 3 style */

.finest-dual-button-primary.effect-3::before, .finest-dual-button-secondary.effect-3::before {
    position: absolute;
    content: '';
    height: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.finest-dual-button-primary.effect-3:hover, .finest-dual-button-secondary.effect-3:hover {
    z-index: 1;
}

.finest-dual-button-primary.effect-3:hover::before, .finest-dual-button-secondary.effect-3:hover::before {
    height: 100%;
    z-index: -1;
}

/* effect 4 style */
.finest-dual-button-primary.effect-4::before, .finest-dual-button-secondary.effect-4::before{
    position: absolute;
    content: '';
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.finest-dual-button-primary.effect-4:hover, .finest-dual-button-secondary.effect-4:hover {
    z-index: 1;
}

.finest-dual-button-primary.effect-4:hover::before, .finest-dual-button-secondary.effect-4:hover::before {
    top: 0;
    bottom: 0;
    opacity: 1;
    z-index: -1;
}

/* effect 5 style */
.finest-dual-button-primary.effect-5, .finest-dual-button-secondary.effect-5{
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

/* effect 6 style */

.finest-dual-button-primary.effect-6::before, .finest-dual-button-secondary.effect-6::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.finest-dual-button-primary.effect-6:hover, .finest-dual-button-secondary.effect-6:hover {
    z-index: 1;
}

.finest-dual-button-primary.effect-6:hover::before, .finest-dual-button-secondary.effect-6:hover::before {
    width: 100%;
    z-index: -1;
}


/*---------------------------------------------------
MODAL POPUP
----------------------------------------------------*/
.finest-modal-button .finest-modal-image-action {
    display: inline-block;
    text-decoration: none;
    transition: all .3s ease;
    position: relative;
    text-align: center;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}


  .top-to-middle {
	-webkit-transform: translate(-50%, -60%);
			transform: translate(-50%, -60%);
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
  }

  .finest-modal-item.modal-vimeo.bottom-to-middle {
	-webkit-transform: translate(-50%, -30%);
			transform: translate(-50%, -30%);
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
  }

  .finest-modal-item.active.modal-vimeo.bottom-to-middle {
	z-index: 9999;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
  }

  .finest-modal-item.modal-vimeo.right-to-middle {
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: translate(-30%, -50%);
			transform: translate(-30%, -50%);
  }

  .finest-modal-item.active.modal-vimeo.right-to-middle {
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	z-index: 9999;
  }

  .finest-modal-item.modal-vimeo.left-to-middle {
	-webkit-transform: translate(-70%, -50%);
			transform: translate(-70%, -50%);
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
  }

  .finest-modal-item.active.modal-vimeo.left-to-middle {
	z-index: 9999;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
  }

  .finest-modal-item.modal-vimeo.zoom-in {
	-webkit-transform: translate(-50%, -50%) scale(0.5);
			transform: translate(-50%, -50%) scale(0.5);
	-webkit-transform-origin: center center;
			transform-origin: center center;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
  }

  .finest-modal-item.active.modal-vimeo.zoom-in {
	z-index: 9999;
	-webkit-transform: translate(-50%, -50%) scale(1);
			transform: translate(-50%, -50%) scale(1);
  }

  .finest-modal-item.modal-vimeo.zoom-out {
	-webkit-transform: translate(-50%, -50%) scale(1.5);
			transform: translate(-50%, -50%) scale(1.5);
	-webkit-transform-origin: center center;
			transform-origin: center center;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
  }

  .finest-modal-item.active.modal-vimeo.zoom-out {
	z-index: 9999;
	display: block;
	-webkit-transform: translate(-50%, -50%) scale(1);
			transform: translate(-50%, -50%) scale(1);
  }

  .finest-modal-item.modal-vimeo.left-rotate {
	opacity: 0;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
	-webkit-perspective: 1000;
			perspective: 1000;
	-webkit-transform: translate(-50%, -50%) rotateX(90deg);
			transform: translate(-50%, -50%) rotateX(90deg);
	-webkit-transform-origin: center center;
			transform-origin: center center;
  }

  .finest-modal-item.active.modal-vimeo.left-rotate {
	opacity: 1;
	z-index: 9999;
	-webkit-transform: translate(-50%, -50%) rotateX(0);
			transform: translate(-50%, -50%) rotateX(0);
  }

  .finest-modal-item.modal-vimeo .finest-modal-content .finest-close-btn {
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  .finest-modal-item.modal-vimeo .finest-modal-content .finest-close-btn span {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .finest-modal-item.modal-vimeo .finest-modal-content .finest-close-btn span::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background: #fff;
    transform: translate(-50%,-50%) rotate(45deg);
    top: 50%;
    left: 50%;
  }
  .finest-modal-item.modal-vimeo .finest-modal-content .finest-close-btn span::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 2px;
    background: #fff;
    transform: translate(-50%,-50%) rotate(45deg);
    top: 50%;
    left: 50%;
  }

  .finest-modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    display: none;
}

.finest-modal-overlay.active {
	opacity: 1;
    z-index: 1000;
    display: block;
	transition: all 0.3s ease;
  }

  .finest-modal-item.image-gallery .finest-modal-element {
  display: flex;
  flex-wrap: wrap;
  }
  .finest-modal-item.image-gallery .finest-modal-element.column-one .finest-modal-element-card {
    width: 100%;
  }
  .finest-modal-item.image-gallery .finest-modal-element.column-two .finest-modal-element-card {
    width: 50%;
  }
  .finest-modal-item.image-gallery .finest-modal-element.column-three .finest-modal-element-card {
    width: 33.33%;
  }
  .finest-modal-item.image-gallery .finest-modal-element.column-four .finest-modal-element-card {
    width: 25%;
  }
  .finest-modal-item.image-gallery .finest-modal-element.column-five .finest-modal-element-card {
    width: 20%;
  }
  .finest-modal-item.image-gallery .finest-modal-element.column-six .finest-modal-element-card {
    width: 16.66%;
  }

  .finest-modal-item {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);
  }

  .finest-modal-item.modal-vimeo {
	opacity: 0;
	-webkit-transform: translate(-50%, -60%);
			transform: translate(-50%, -60%);
	height: auto;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	visibility: hidden;
  }

  @media (max-width: 991px){
    .finest-modal-item.modal-vimeo {
      height: 100%;
    }
    .finest-modal-item.modal-vimeo::-webkit-scrollbar {
      display: none;
    }
  }

  .finest-modal-item.modal-vimeo .finest-modal-content .finest-modal-element img{
    display: block;
    width: 100%;
  }

  .finest-modal-item.modal-vimeo .finest-modal-content .finest-modal-element .finest-modal-element-card .finest-modal-element-card-body p{
    margin: 0;
  }

  .finest-modal-item.modal-vimeo .finest-modal-content .finest-modal-element .finest-modal-element-card img{
    display: block;
    width: 100%;
  }

  .finest-modal-item.modal-vimeo .finest-modal-content {
	position: relative;
  }

  .finest-modal-item .finest-modal-content .finest-modal-element iframe{
    display: block;
    height: 100%;
    width: 100%;
  }

  .finest-modal-item.active.modal-vimeo {
	opacity: 1;
	z-index: 2000;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	visibility: visible;
  }

  .finest-modal-button.finest-modal-btn-fixed-width-yes .finest-modal-image-action{
    position: relative;
  }
  .finest-modal-button.finest-modal-btn-fixed-width-yes .finest-modal-image-action span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .finest-modal-wrapper .finest-modal-item.finest-content-overflow-x- {
    overflow-x: hidden;

  }
 .finest-modal-wrapper .finest-modal-item.finest-content-overflow-y-  {
    overflow-y: scroll;

 }

 /*---------------------------------------------------
PRICING BOX
----------------------------------------------------*/
    /* Pricing Menu Start */

    .finest-addons-pricing-list-wrapper.border_bottom .finest-addons-pricing-list-item:last-child {
      border-bottom: none !important;
  }

  .finest-addons-pricing-list-item.yes {
      display: flex;
  }

  .finest-addons-pricing-list-item-thumbnail {
      overflow: hidden;
  }

  .finest-addons-pricing-list-item-thumbnail img {
      height: 100% !important;
      width: 100%;
      object-fit: cover;
      -o-object-fit: cover;
  }

  .finest-addons-pricing-title {
      display: flex;
      align-items: center;
  }

  .finest-addons-pricing-title .finest-addons-pricing-list-item-price {
      margin-left: auto;
  }

  .finest-addons-pricing-list-item-content-title {
      display: flex;
      font-size: 20px;
      font-weight: bold;
  }

  .finest-addons-pricing-list-item-content-description {
      margin: 0;
  }

  .finest-addons-pricing-list-item-price span {
      display: block;
      font-size: 20px;
      line-height: 20px;
  }

  .finest-addons-pricing-list-item-content-action {
      display: inline-block;
      transition: all .3s ease;
  }

  .finest-addons-pricing-list-item-content-conntector {
      border-bottom: 1px dashed;
      height: 1px;
      flex-grow: 1;
      align-self: center;
      margin: 0 15px;
  }
  /* Pricing List End */


  /* Pricing Table Start */

  .left {
      text-align: left;
  }

  .left .finest-addons-pricing-table-features li {
      justify-content: flex-start;
  }

  .left .price-box {
      margin-right: auto;
  }

  .center {
      text-align: center;
  }

  .center.finest-addons-pricing-table-features li {
      justify-content: center;
  }

  .center .price-box {
      margin: 0 auto;
  }

  .right {
      text-align: right;
  }

  .right .finest-addons-pricing-table-features li {
      justify-content: flex-end;
  }

  .right .price-box {
      margin-left: auto;
  }

  .finest-addons-pricing-table-header {
      position: relative;
      z-index: -1;
  }

  .finest-addons-pricing-table-header .finest-addons-pricing-table-header-curved svg {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
      width: 100%;
  }

  .finest-addons-pricing-table-title {
      margin: 0 0 16px 0;
      font-size: 20px;
      font-weight: 400;
  }

  .finest-addons-pricing-table-subtitle {
      margin: 0 0 10px 0;
  }

  .price-box {
      position: relative;
  }

  .finest-addons-pricing-table-price {
      position: relative;
  }

  .finest-addons-pricing-table-price.finest-addons-discount-price-yes {
      display: inline-flex;
      align-items: flex-end;
  }

  .finest-addons-pricing-table-price.finest-addons-discount-price-yes .finest-addons-pricing-table-regular-price {
      text-decoration: line-through;
      font-size: 20px;
      color: #e5e5e5;
      line-height: 2.1em;
  }

  .finest-addons-pricing-table-price svg {
      position: absolute;
  }

  .finest-addons-pricing-table-wrapper .finest-addons-pricing-table-price p.finest-addons-pricing-table-new-price {
      font-size: 48px;
      font-weight: 600;
      letter-spacing: -3.2px;
  }

  .finest-addons-pricing-table-wrapper .finest-addons-pricing-table-price span.finest-addons-price-period {
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0px;
  }

  .finest-addons-pricing-table-price p {
      margin: 0;
  }

  .price-box p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      width: 100%;
  }

  .finest-addons-pricing-table-features {
      margin: 0;
      padding: 0;
  }

  .finest-addons-pricing-table-features li {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 0px;
  }

  .list-border-bottom li:not(:last-child) {
      border-bottom: 1px solid #ff5985;
  }

  .finest-addons-pricing-table-features li .finest-addons-pricing-li-icon {
      margin-right: 7px;
  }

  .finest-addons-pricing-table-action {
      text-decoration: none;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .finest-addons-pricing-table-badge-wrapper {
      position: relative;
      overflow: hidden;
      z-index: 1;
      transition: all .3s ease;
  }

  .finest-addons-pricing-table-wrapper {
      transition: all .3s ease;
  }

  .finest-addons-pricing-table-wrapper.transition_top {
      transition: all .3s ease;
      transform: translateY(0);
      -webkit-transform: translateY(0);
  }

  .finest-addons-pricing-table-wrapper.transition_top:hover {
      transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
  }

  .finest-addons-pricing-table-wrapper.transition_bottom {
      transition: all .3s ease;
      transform: translateY(0);
      -webkit-transform: translateY(0);
  }

  .finest-addons-pricing-table-wrapper.transition_bottom:hover {
      transform: translateY(10px);
      -webkit-transform: translateY(10px);
  }

  .finest-addons-pricing-table-wrapper.transition_zoom {
      transition: all .3s ease;
      transform: scale(1);
      -webkit-transform: scale(1);
  }

  .finest-addons-pricing-table-wrapper.transition_zoom:hover {
      transform: scale(1.02);
      -webkit-transform: scale(1.02);
  }

  .finest-addons-pricing-table-wrapper .text-badge {
      position: absolute;
      top: 0;
      right: 0;
      background: #13c83a;
      padding: 13px 50px;
      width: 160px;
      text-align: center;
      -webkit-transform: rotate(45deg) translate(40px, -22px);
      transform: rotate(45deg) translate(40px, -22px);
      color: #ffffff;
      font-size: 12px;
      font-weight: bold;
      z-index: 2;
  }

  .finest-addons-pricing-table-wrapper .icon-badge {
      position: absolute;
      padding: 15px 10px;
      border-radius: 0 0 40px 40px;
      background: #13c83a;
      right: 30px;
      top: 0;
      z-index: 2;
  }

  .finest-addons-pricing-table-promo-label {
      display: block;
  }

  .finest-addons-pricing-table-currency {
      position: relative;
  }

  .finest-addons-pricing-table-price-subtitle {
      display: block;
  }

  .finest-addons-pricing-area .finest-addons-pricing-item ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }


/*---------------------------------------------------
CALL TO ACTION
----------------------------------------------------*/
h1.finest-call-to-action-title {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 40px;
}
ul.finest-call-to-action-buttons {
    margin: 0;
    padding: 0;
    list-style: none;
}
.finest-call-to-action-buttons li,
.finest-call-to-action-buttons li a {
    display: inline-block;
}
.finest-call-to-action.skin-vertical p.finest-call-to-action-subtitle {
    margin-bottom: 50px;
    font-size: 16px;
}
.finest-call-to-action.skin-horizontal .finest-call-to-action-content {
    display: -webkit-box;
     display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.finest-call-to-action.skin-horizontal .finest-call-to-action-content .finest-call-to-action-header {
    width: 70%;
}
.finest-call-to-action.skin-horizontal .finest-call-to-action-content .finest-call-to-action-footer {
    -webkit-box-flex: 1;
    flex: 1;
    text-align: right;
}
.finest-call-to-action-icon i {
    font-size: 40px;
    display: inline-block;
}

@media only screen and (max-width: 493px) {
    .finest-call-to-action-buttons li {
        display: flex;
    }
    a.finest-call-to-action-secondary-btn {
        margin-top: 20px;
    }
}
@media only screen and (max-width: 767px) {
    .finest-call-to-action.skin-horizontal .finest-call-to-action-content {
        flex-direction: column;
        align-items: flex-start;
    }
    .finest-call-to-action.skin-horizontal .finest-call-to-action-content .finest-call-to-action-header {
        width: 100%;
    }
}

.finest-call-to-action-primary-btn, .finest-call-to-action-secondary-btn{
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.finest-call-to-action-primary-btn span, .finest-call-to-action-secondary-btn span{
    display: block;
}


/*---------------------------------------------------
TESTIMONIAL
----------------------------------------------------*/
.finest-review {
    --finest-review-left-body-width: calc(
        100% - var(--finest-review-media-width) +
            (-1 * var(--finest-review-media-offset-x))
    );
    --finest-review-media-offset-x: calc(1px - 1px);
    --finest-review-media-offset-y: calc(1px - 1px);
    --finest-review-right-body-width: calc(
        100% - var(--finest-review-media-width) + (var(--finest-review-media-offset-x))
    );
}
.finest-review > .elementor-widget-container {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 3px 40px rgba(36, 36, 36, 0.1);
}
.finest-review-header {
    margin-top: 25px;
}
.finest-review-figure {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 var(--finest-review-media-width, 70px);
    -ms-flex: 0 0 var(--finest-review-media-width, 70px);
    flex: 0 0 var(--finest-review-media-width, 70px);
    margin: 0;
    max-width: var(--finest-review-media-width, 70px);
    -webkit-transform: translate(
        var(--finest-review-media-offset-x),
        var(--finest-review-media-offset-y)
    );
    -ms-transform: translate(
        var(--finest-review-media-offset-x),
        var(--finest-review-media-offset-y)
    );
    transform: translate(
        var(--finest-review-media-offset-x),
        var(--finest-review-media-offset-y)
    );
}
.finest-review-figure img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    vertical-align: bottom;
    -o-object-fit: cover;
    object-fit: cover;
}
.finest-review-reviewer {
    margin-top: 0;
    margin-bottom: 10px;
    color: #151515;
    font-size: 18px;
}
.finest-review-position {
    margin-bottom: 10px;
    color: #7f7f7f;
    font-size: 15px;
}
.finest-review-ratting {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
}
.finest-review-ratting--num {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #562dd4;
    color: #fff;
}
.finest-review-ratting--star {
    color: #ffbf36;
}
.finest-review-desc {
    margin-top: 25px;
    font-size: 16px;
    line-height: 1.6;
}
.finest-review-desc p {
    margin: 0;
}
.finest-review--top > .elementor-widget-container {
    padding: 25px;
}
.finest-review--top .finest-review-figure {
    display: inline-block;
    height: 70px;
}
.finest-review--top .finest-review-body {
    margin-top: var(--finest-review-media-offset-y);
}
.finest-review--left,
.finest-review--right {
    --finest-review-media-width: 150px;
}
.finest-review--left > .elementor-widget-container,
.finest-review--right > .elementor-widget-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-align: center;
}
.finest-review--left .finest-review-figure,
.finest-review--right .finest-review-figure {
    height: 150px;
}
.finest-review--left .finest-review-body,
.finest-review--right .finest-review-body {
    padding: 25px;
}
.finest-review--left .finest-review-body > :first-child,
.finest-review--right .finest-review-body > :first-child {
    margin-top: 0;
}
.finest-review--left > .elementor-widget-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 25px;
}
.finest-review--left .finest-review-body {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 var(--finest-review-left-body-width);
    -ms-flex: 0 0 var(--finest-review-left-body-width);
    flex: 0 0 var(--finest-review-left-body-width);
    margin-left: var(--finest-review-media-offset-x);
    max-width: var(--finest-review-left-body-width);
}
.finest-review--right > .elementor-widget-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    padding-right: 25px;
    text-align: right;
}
.finest-review--right .finest-review-body {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 var(--finest-review-right-body-width);
    -ms-flex: 0 0 var(--finest-review-right-body-width);
    flex: 0 0 var(--finest-review-right-body-width);
    margin-right: calc(-1 * var(--finest-review-media-offset-x));
    max-width: var(--finest-review-right-body-width);
}
